.App {
  text-align: center;
}

.main{
  max-width: 350px;
  margin: 20px auto;
}

.complete{
  text-decoration: line-through;
}

span.delete-button{
  float: right;
  background-color: #f3f3f3;
  padding: 3px;
}
span.delete-button:hover{
  cursor:pointer;
}

ul.todo-list{
  list-style-type: none;
  padding: 0;
}

ul.todo-list li{
  margin: 10px 0;
}

.form-div{
  text-align:center;
}
.form-div input{
  width: 250px;
}